@use 'src/styles/theme';

$card-height: 8rem;

.home-container {
  min-height: 100%;
  width: 100%;

  .home-hero {
    box-shadow: theme.$light-box-shadow;
    height: $card-height;
    margin: 0 0 1rem 0;
    width: auto;
  }

  .home-row {
    display: flex;
    flex-wrap: wrap;
    width: auto;

    mat-card {
      box-shadow: theme.$light-box-shadow;
      flex: 0 1 100%;
      height: $card-height;
      margin: 1rem 0;
    }
  }
}

@media(min-width: theme.$breakpoint-tablet) {
  .home-container {
    .home-row {
      flex-wrap: unset;

      mat-card {
        margin-top: unset;
      }

      mat-card:nth-child(2) {
        margin: 0 1rem;
      }
    }
  }
}

@media(min-width: theme.$breakpoint-desktop) { }
