@use 'src/styles/theme';

:host {
  align-items: center;
  display: flex;
  min-height: 100%;
  justify-content: center;
  width: 100%;
}

.auth-container {
  width: 80%;

  .auth-brand-hero > h1{
    color: theme.$primary-color;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 3rem;
    margin-bottom: 1.35rem;
  }

  .form-container {
    mat-form-field {
      width: 100%;
    }

    .alt-option {
      margin: .5rem 0;
      text-align: center;
      width: 100%;

      button {
        background-color: transparent;
        border: none;
      }

      button:hover {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
      }

      button:focus {
        outline: none;
      }
    }

    .submit-button {
      margin: .25rem 0;
      width: 100%;
    }
  }
}

@media(min-width: theme.$breakpoint-tablet) {
  .auth-container {
    width: 50%;
  }
}

@media(min-width: theme.$breakpoint-desktop) {
  .auth-container {
    width: 25%;
  }
}
