@use 'src/styles/theme';

.sidenav-container {
  padding: 1rem;
}

mat-icon {
  margin: 0 .5rem 0 0;
}

.sidenav {


  .sidenav-button {
    color: theme.$grey-color;
    display: block;
    margin: .5rem 0;
    padding: 0 .5rem;
    text-align: left;
    width: 100%;
  }

  .sidenav-button-active {
    color: theme.$primary-color;
  }
}

.logout-button {
  padding: 0 .5rem;
  text-align: left;
  width: 100%;
}
