@use 'src/styles/theme';

mat-toolbar-row {
  height: 100%;
  min-height: unset;
  padding: 0 2rem;

  h1 {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1rem;
    text-align: left;
  }

  .app-logo {
    padding: 0;
  }

  .sidenav-toggle {
    background-color: theme.$white-color;

    mat-icon {
      color: theme.$primary-color;
    }
  }
}

.header-container {
  height: 100%;
  min-height: unset;
}

.header-spacer{
  flex: 1 1 auto;
}
