mat-toolbar-row {
  height: 100%;
  min-height: unset;

  h1 {
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    color: #3f51b5;
    display: flex;
    font-size: 1.25rem;
    font-weight: bolder;
    height: 1.5rem;
    justify-content: center;
    line-height: 1.25rem;
    padding: .5rem;
    width: 1.5rem;
  }
}

.header-container {
  height: 100%;
  min-height: unset;
}

.header-spacer{
  flex: 1 1 auto;
}
