$primary-color: rgb(63, 81, 181);
$white-color: rgb(255, 255, 255);
$grey-color: rgb(128, 128, 128);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$round-top-border-radius: 1rem 1rem 0 0;
