@import 'src/global-theme.scss';

:host {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  left: 0;
  position: absolute;
  right: 0;

  p {
    margin: 0 1rem 0 0;
  }
}

.hecho-en-mexico-logo {
  width: 4%;
}
